*
{
    margin: 0;
    padding: 0;
    
}
header
{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pick1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-nav
{
    position: relative;
    left: 550px;
    top:20px;
    list-style: none;
    margin-top: 1px;
}

.main-nav li
{
 display: inline-block;
 
}

.main-nav li a 
{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
  border: 1px solid white;  
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.hero
{
    position: relative;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button
{
 margin-top: 60px;
 margin-left: 280px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 70px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one
{
 font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "roboto", sans-serif;
}


.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}
.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}

.btn-three
{
 font-family: "Roboto", sans-serif;
}

.btn-three:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}




           body {
    
    width: 100%;
    background-size: cover;
}

.login {
      margin: 150px auto;
    width: 300px;
    padding: 30px 25px;
    background: rgb(255,255,255,0.4);
    border: 1px solid #c4c4c4;
}

h1.login-title {
  margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;;
 
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}

    